@using Tournamentz.BL.Queries
@model List<TeamQueries.My>

@{
    ViewBag.Title = "Moji timovi";
}

<h2>@ViewBag.Title</h2>

<p>Ovo su timovi koje si ti kreirao!</p>

<table class="table table-bordered table-responsive">
    <thead>
    <tr class="info">
        <th class="col-xs-1"></th>
        <th class="col-xs-8">Naziv tima</th>
        <th class="col-xs-3">Akcije</th>
    </tr>    
    </thead>
    <tbody>
    @foreach (TeamQueries.My team in Model)
    {
        <tr>
            @if (team.Players.Any())
            {
                <td data-toggle="collapse" data-target="#@team.Id" class="text-center" style="cursor: pointer;"><i class="fa fa-caret-down"></i></td>
            }
            else
            {
                <td>&nbsp;</td>
            }
            <td><a href="@Url.Action("ById", "Teams", new {Id = team.Id})">@team.Title</a></td>
            <td>
                <a href="@Url.Action("ById", "Teams", new {Id = team.Id})"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        if (team.Players.Any())
        {
            <tr>
                <td colspan="3">
                    <div class="collapse" id="@team.Id">
                        <div class="col-xs-12">
                            <table class="table table-striped table-responsive table-hover">
                                <thead>
                                <tr class="success">
                                    <th class="col-xs-12">Nadimak igrača</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (TeamQueries.My.PlayerInfo player in team.Players)
                                {
                                    <tr>
                                        <td>@player.Nickname</td>
                                    </tr>
                                }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr><td colspan="3"><td/></tr>
        }
    }
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3" class="text-right">
            <a class="btn btn-success" href="@Url.Action("New", "Teams")">Kreiraj novi tim!</a>
        </td>
    </tr>
    </tfoot>

</table>